*{
    font-family: "arial";
}

h1, p{
    color: rgb(255, 255, 255);
}

body{
    background-color:black;
}

nav{
    background-color: rgba(255, 255, 255, 0.5);
    width: 150px;
}

#tony{
    background-image: url("./img/personagem-tony-chopper.png");
    background-size: cover;
}

#nami{
    background-image: url("./img/personagem-nami.png");
    background-size: cover;
}

#luffy{
    background-image: url("./img/personagem-monkey-d-luffy.png");
    background-size: cover;
}

#sanji{
    background-image: url("./img/personagem-sanji.png");
    background-size: cover;
}

#zoro{
    background-image: url("./img/personagem-roronoa-zoro.png");
    background-size: cover;
}